{% extends 'core/base.html' %}
{% load static %}
<!-- {% block title %} Page Not Found {% endblock title %} -->

{% block Navbar_section %} {%include 'core/sections/Navbar_section.html' %} {% endblock Navbar_section %}

{% block contect_section %} {%include 'core/sections/contact_section.html' %}{% endblock contect_section %}

<!-- Subscribe section -->
{% block Subscribe_section %} {% include 'core/sections/subscribe_section.html' %} {% endblock Subscribe_section %}

<!-- footer -->
{% block Footer_section %} {% include 'core/sections/footer_section.html' %} {% endblock Footer_section %}