{% extends 'core/base.html' %}
{% load static %}
{% block title %} FashionBazarUk | Home{% endblock title %}


{% block Navbar_section %} {%include 'core/sections/Navbar_section.html' %} {% endblock Navbar_section %}

{% block Slider_section %} {%include 'core/sections/slider_section.html' %} {% endblock Slider_section %}

{% block Support_section %} {%include 'core/sections/support_section.html' %} {% endblock Support_section %}

{% block Promo_section %} {%include 'core/sections/promo_section.html' %} {% endblock Promo_section %}

{% block Products_section %} {%include 'core/sections/products_section.html' %} {% endblock Products_section %}

{% block Banner_section %} {%include 'core/sections/banner_section.html' %} {% endblock Banner_section %}

{% block Popular_products_section %} {%include 'core/sections/popular_products_section.html' %} {% endblock Popular_products_section %}

{% block Brands_section %} {%include 'core/sections/brands_section.html' %} {% endblock Brands_section %}

{% block Subscribe_section %} {%include 'core/sections/subscribe_section.html' %} {% endblock Subscribe_section %}

{% block Footer_section %} {%include 'core/sections/footer_section.html' %} {% endblock Footer_section %}