
{% extends 'core/base.html' %}
{% load static %}
{% block title %} Shop {% endblock title %}

<!-- Navbar_section -->
{% block Navbar_section %} {%include 'core/sections/Navbar_section.html' %} {% endblock Navbar_section %}

<!-- Products_shop_section -->
{% block Products_shop_section %} {%include 'core/sections/products_shop_section.html' %} {% endblock Products_shop_section %}

<!-- Subscribe section -->
{% block Subscribe_section %} {% include 'core/sections/subscribe_section.html' %} {% endblock Subscribe_section %}

<!-- footer -->
{% block Footer_section %} {% include 'core/sections/footer_section.html' %} {% endblock Footer_section %}

